# IntelliJ IDEA
.idea/

# Compiled class files
*.class

# Compiled Java binaries
*.jar
*.war
*.ear
*.iml

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# User-specific files
*.swp
*.swo
.opendb